{% extends "layout.html" %}

{% block title %}
    Add University
{% endblock %}

{% block main %}

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <link rel="stylesheet" href="../static/css/filter_multi_select.css" />
    <script src="../static/extensions/filter-multi-select-bundle.min.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous"> 


    <script type=text/javascript>
        function raise_error() {
            {% if form.name.errors %} 
                {% for error in form.name.errors %}
                    $("#flash_text").text("{{error | safe }}");
                    $("#flash_text_div").show();
                {% endfor %}
            {% endif %}
            
            {% if form.logo.errors %} 
                {% for error in form.logo.errors %}
                    $("#flash_text").text("{{error | safe }}");
                    $("#flash_text_div").show();
                {% endfor %}
            {% endif %}

            {% if form.banner.errors %} 
                {% for error in form.banner.errors %}
                    $("#flash_text").text("{{error | safe }}");
                    $("#flash_text_div").show();
                {% endfor %}
            {% endif %}
            
            {% if form.courses.errors %} 
                {% for error in form.courses.errors %}
                    $("#flash_text").text("{{error | safe }}");
                    $("#flash_text_div").show();
                {% endfor %}
            {% endif %}
            
            {% if form.location.errors %} 
                {% for error in form.location.errors %}
                    $("#flash_text").text("{{error | safe }}");
                    $("#flash_text_div").show();
                {% endfor %}
            {% endif %}
            
            {% if form.ib_cutoff.errors %} 
                {% for error in form.ib_cutoff.errors %}
                    $("#flash_text").text("{{error | safe }}");
                    $("#flash_text_div").show();
                {% endfor %}
            {% endif %}
            
            {% if form.scholarships.errors %} 
                {% for error in form.scholarships.errors %}
                    $("#flash_text").text("{{error | safe }}");
                    $("#flash_text_div").show();
                {% endfor %}
            {% endif %}

            {% if form.requirements.errors %} 
                {% for error in form.requirements.errors %}
                    $("#flash_text").text("{{error | safe }}");
                    $("#flash_text_div").show();
                {% endfor %}
            {% endif %}
            {% if form.min_gpa.errors %} 
                {% for error in form.min_gpa.errors %}
                    $("#flash_text").text("{{error | safe }}");
                    $("#flash_text_div").show();
                {% endfor %}
            {% endif %}
            {% if form.max_gpa.errors %} 
                {% for error in form.max_gpa.errors %}
                    $("#flash_text").text("{{error | safe }}");
                    $("#flash_text_div").show();
                {% endfor %}
            {% endif %}
            {% if form.avg_cost.errors %} 
                {% for error in form.avg_cost.errors %}
                    $("#flash_text").text("{{error | safe }}");
                    $("#flash_text_div").show();
                {% endfor %}
            {% endif %}
            {% if form.acceptance_rate.errors %} 
                {% for error in form.acceptance_rate.errors %}
                    $("#flash_text").text("{{error | safe }}");
                    $("#flash_text_div").show();
                {% endfor %}
            {% endif %}
            {% if form.email.errors %} 
                {% for error in form.email.errors %}
                    $("#flash_text").text("{{error | safe }}");
                    $("#flash_text_div").show();
                {% endfor %}
            {% endif %}

            {% if form.website.errors %} 
                {% for error in form.website.errors %}
                    $("#flash_text").text("{{error | safe }}");
                    $("#flash_text_div").show();
                {% endfor %}
            {% endif %}
        }
        setInterval('raise_error()', 1);

        $(document).ready(function() {
            const courses = $('#courses_ms').filterMultiSelect();

            // If values are not blank, restore them to the fields
            var Name = sessionStorage.getItem('Name');
            if (Name !== null) $('#inputName').val(Name);
            
            var Website = sessionStorage.getItem('Website');
            if (Website !== null) $('#inputWebsite').val(Website);

            var Requirements = sessionStorage.getItem('Requirements');
            if (Requirements !== null) $('#inputRequirements').val(Requirements);
            var Min_gpa = sessionStorage.getItem('Min_gpa');
            if (Min_gpa !== null) $('#inputMin_gpa').val(Min_gpa);
            var Max_gpa = sessionStorage.getItem('Max_gpa');
            if (Max_gpa !== null) $('#inputMax_gpa').val(Max_gpa);
            var Avg_cost = sessionStorage.getItem('Avg_cost');
            if (Avg_cost !== null) $('#inputAvg_cost').val(Avg_cost);
            var Email = sessionStorage.getItem('Email');
            if (Email !== null) $('#inputEmail').val(Email);
            var Acceptance_rate = sessionStorage.getItem('Acceptance_rate');
            if (Acceptance_rate !== null) $('#inputAcceptance_rate').val(Acceptance_rate);

            var Scholarships = sessionStorage.getItem('Scholarships');
            if (Scholarships !== null) $('#inputScholarships').val(Scholarships);
            
            var Ib_cutoff = sessionStorage.getItem('Ib_cutoff');
            if (Ib_cutoff !== null) $('#inputIb_cutoff').val(Ib_cutoff);
            
            var selectedCourses = JSON.parse(sessionStorage.getItem('Courses'));
            var selectedLocation = JSON.parse(sessionStorage.getItem('Location'));
            $("#location_select option[value='"+selectedLocation+"']").prop('selected', true);

            
            if (selectedCourses != null){
                for(var i = 0; i < selectedCourses["courses"].length ; i++){
                    courses.selectOption(selectedCourses["courses"][i])
                }
            }

            // Before refreshing the page, save the form data to sessionStorage
            window.onbeforeunload = function() {
                sessionStorage.setItem("Name", $('#inputName').val());
                sessionStorage.setItem("Website", $('#inputWebsite').val());
                sessionStorage.setItem("Requirements", $('#inputRequirements').val());
                sessionStorage.setItem("Scholarships", $('#inputScholarships').val());
                sessionStorage.setItem("Min_gpa", $('#inputMin_gpa').val());
                sessionStorage.setItem("Max_gpa", $('#inputMax_gpa').val());
                sessionStorage.setItem("Avg_cost", $('#inputAvg_cost').val());
                sessionStorage.setItem("Acceptance_rate", $('#inputAcceptance_rate').val());
                sessionStorage.setItem("Email", $('#inputEmail').val());
                sessionStorage.setItem("Ib_cutoff", $('#inputIb_cutoff').val());
                sessionStorage.setItem("Courses", courses.getSelectedOptionsAsJson(includeDisabled=true));
                sessionStorage.setItem("Location", $('#location_select').val());
            }

            $('#logo').change(function(e) {
                var filename = e.target.files[0].name;
                $("#logo-filename").text(filename);
            });
            $('#banner').change(function(e) {
                var filename = e.target.files[0].name;
                $("#banner-filename").text(filename);
            });
        });

        // add course
        $(function() {
            $('#courses_ms_newitem').on('click', function(e) {
                var new_course_name = $('#courses_ms_filterinput').val();
                $.getJSON('add_course/'+new_course_name, function(data) {});
                history.go(0);
            });
        });
    </script>

    <div class="w-90% mx-auto border-solid border-black rounded-md my-5% items-center border-0.5">
        <p class="text-center text-lg xsm:text-4xl w-80% mt-3% mx-auto">Add University</p>
        <hr class="border-black w-80% mx-auto my-3% sm:my-2%" />
        
        <div class="w-100%">
            <form action="{{ url_for('add_uni') }}", method="POST" class="w-80% mx-auto"  enctype="multipart/form-data">
                
                {{ form.hidden_tag() }}
                
                <div class="flex items-center justify-center col-span-2 mt-4">
                    <label for="logo" class="w-64 flex items-center p-2 bg-white text-blueC rounded-lg tracking-wide uppercase border-0.5 border-blueC border-solid cursor-pointer">
                        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-8 h-8">
                            <path stroke-linecap="round" stroke-linejoin="round" d="M12 4v16m8-8H4"></path>
                        </svg>
                        <span id="logo-filename" class="ml-2 text-base text-blueC leading-normal">Upload University Logo</span>
                        {{ form.logo(class="hidden", id="logo", type="file") }}

                    </label>
                </div>

                <div class="flex items-center justify-center col-span-2 mt-2">
                    <label for="banner" class="w-64 flex items-center p-2 bg-white text-blueC rounded-lg tracking-wide uppercase border-0.5 border-blueC border-solid cursor-pointer">
                        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-8 h-8">
                            <path stroke-linecap="round" stroke-linejoin="round" d="M12 4v16m8-8H4"></path>
                        </svg>
                        <span id="banner-filename" class="ml-2 text-base text-blueC leading-normal">Upload University Campus Picture</span>
                        {{ form.banner(class="hidden", id="banner", type="file") }}
                    </label>
                </div>
                
                {{ form.name(id="inputName", class="text-base md:text-lg w-100% border-0.5 border-black text-center rounded-lg mt-2", placeholder="University Name" )}} 

                {{ form.location(id="location_select", placeholder="Location", class="text-base md:text-lg w-100% border-0.5 border-black text-center rounded-lg mt-4") }}
                
                <h3 class="w-100% text-center text-base md:text-lg mb-1 mt-2">Courses</h3>
                {{ form.courses(id="courses_ms") }}

                {{ form.website(id="inputWebsite", class="text-base md:text-lg w-100% border-0.5 border-black text-center rounded-lg mt-4 ", placeholder="University Website" )}} 
                {{ form.requirements(id="inputRequirements", class="text-base md:text-lg w-100% border-0.5 py-1% border-black text-center rounded-lg mt-4 ", placeholder="University Requirements (requirement 1: details, requirement 2: details)" )}} 
                {{ form.min_gpa(id="inputMin_gpa", class="text-base md:text-lg w-100% border-0.5 py-1% border-black text-center rounded-lg mt-4 ", placeholder="Minimum GPA" )}} 
                {{ form.max_gpa(id="inputMax_gpa", class="text-base md:text-lg w-100% border-0.5 py-1% border-black text-center rounded-lg mt-4 ", placeholder="Maximum GPA" )}} 
                {{ form.avg_cost(id="inputAvg_cost", class="text-base md:text-lg w-100% border-0.5 py-1% border-black text-center rounded-lg mt-4 ", placeholder="Average Cost" )}} 
                {{ form.email(id="inputEmail", class="text-base md:text-lg w-100% border-0.5 py-1% border-black text-center rounded-lg mt-4 ", placeholder="Email" )}} 
                {{ form.acceptance_rate(id="inputAcceptance_rate", class="text-base md:text-lg w-100% border-0.5 py-1% border-black text-center rounded-lg mt-4 ", placeholder="Acceptance Rate" )}} 
                {{ form.scholarships(id="inputScholarships", class="text-base md:text-lg w-100% border-0.5 py-1% border-black text-center rounded-lg mt-4 ", placeholder="University Scholarships" )}} 
                {{ form.ib_cutoff(id="inputIb_cutoff", class="text-base md:text-lg w-100% border-0.5 border-black text-center rounded-lg mt-4 ", placeholder="Cut off/required grade for IBDP" )}} 

                <center>
                    {{ form.save_draft(class="submit inline-block text-white bg-blue-700 hover:bg-blue-800 rounded-lg px-5 py-2.5 focus:outline-none mt-3% w-100% sm:w-30% sm:mb-5% text-lg md:text-2xl") }}
                    {{ form.submit(class="submit inline_block text-white bg-blue-700 hover:bg-blue-800 rounded-lg px-5 py-2.5 focus:outline-none mt-3% w-100% sm:w-30% mb-5% text-lg md:text-2xl") }}
                </center>
            </form>
        </div>
    </div>
{% endblock %}