{% extends "layout.html" %}

{% block title %}
    Register
{% endblock %}

{% block main %}

<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script type=text/javascript>

    function raise_error() {

        {% if form.pfp.errors %} 
            {% for error in form.pfp.errors %}
                $("#flash_text").text("{{error}}");
                $("#flash_text_div").show();
            {% endfor %}
        {% endif %}

        {% if form.username.errors %} 
            {% for error in form.username.errors %}
                $("#flash_text").text("{{error}}");
                $("#flash_text_div").show();
            {% endfor %}
        {% endif %}

        {% if form.fullname.errors %} 
            {% for error in form.fullname.errors %}
                $("#flash_text").text("{{error}}");
                $("#flash_text_div").show();
            {% endfor %}
        {% endif %}

        {% if form.email.errors %} 
            {% for error in form.email.errors %}
                $("#flash_text").text("{{error}}");
                $("#flash_text_div").show();
            {% endfor %}
        {% endif %}

        {% if form.password.errors %} 
            {% for error in form.password.errors %}
                $("#flash_text").text("{{error}}");
                $("#flash_text_div").show();
            {% endfor %}
        {% endif %}


        {% if form.confirm_password.errors %} 
            {% for error in form.confirm_password.errors %}
                $("#flash_text").text("{{error}}");
                $("#flash_text_div").show();
            {% endfor %}
        {% endif %}

        {% if form.phone_number.errors %} 
            {% for error in form.phone_number.errors %}
                $("#flash_text").text("{{error}}");
                $("#flash_text_div").show();
            {% endfor %}
        {% endif %}
    }
    $(document).ready(function() {    
        $('#profile-pic').change(function(e) {
            var filename = e.target.files[0].name;
            $("#filename").text(filename);
        });
    });
    setInterval('raise_error()', 1);
</script>

    <div class="mx-auto w-100% md:w-90% md:border-solid md:border-black md:rounded-md md:my-5% items-center md:border-0.5">
        <p class="text-center text-lg xsm:text-4xl w-90% md:w-80% mt-5% mx-auto">Register Admin</p>
        <hr class="border-black w-90% md:w-80% mx-auto my-3% sm:mt-2% sm:mb-1%" />
        <form action='' method="POST" class="w-90% md:w-80% mx-auto" enctype="multipart/form-data">
            <div class="w-100% grid md:grid-cols-2 md:gap-x-2 space-y-2 justify-items-center">
                {{ form.hidden_tag() }}
                <div class="flex items-center justify-center col-span-2">
                    <label for="profile-pic" class="w-64 flex items-center p-2 bg-white text-blueC rounded-lg tracking-wide uppercase border-0.5 border-blueC border-solid cursor-pointer">
                        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-8 h-8">
                            <path stroke-linecap="round" stroke-linejoin="round" d="M12 4v16m8-8H4"></path>
                        </svg>
                        <span id="filename" class="ml-2 text-base text-blueC leading-normal">Upload Profile Picture</span>
                        {{ form.pfp(class="hidden", id="profile-pic", type="file") }}
                    </label>
                </div>
                {{ form.username(class="        text-base md:text-lg w-100% border-0.5 border-black text-center py-1% rounded-lg col-span-2 md:col-span-1", placeholder="Username")}}
                {{ form.fullname(class="        text-base md:text-lg w-100% border-0.5 border-black text-center py-1% rounded-lg col-span-2 md:col-span-1", placeholder="Full name")}}
                {{ form.email(class="           text-base md:text-lg w-100% border-0.5 border-black text-center py-1% rounded-lg col-span-2 md:col-span-1", placeholder="Email") }}
                {{ form.password(class="        text-base md:text-lg w-100% border-0.5 border-black text-center py-1% rounded-lg col-span-2 md:col-span-1", placeholder="Password")}}
                {{ form.confirm_password(class="text-base md:text-lg w-100% border-0.5 border-black text-center py-1% rounded-lg col-span-2 md:col-span-1", placeholder="Confirm Password") }}
                {{ form.phone_number(class="    text-base md:text-lg w-100% border-0.5 border-black text-center py-1% rounded-lg col-span-2 md:col-span-1", placeholder="Phone number")}}
            </div>
            {{ form.submit(class="w-100% md:w-50% md:mx-25% mt-2 mb-5% text-white bg-blue-700 hover:bg-blue-800 rounded-lg px-5 py-2.5 focus:outline-none text-xl") }}
    </form>
    </div>

{% endblock main %}