{% extends "layout.html" %}

{% block title %}
    Register Student
{% endblock %}

{% block main %}

<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script type=text/javascript>
    
    function raise_error() {
        {% for item in [form.pfp, form.username, form.fullname, form.email, form.password, form.confirm_password, form.phone_number, form.myp_score, form.dp_predicted, form.dp_score, form.has_diploma, form.portfolio] %}
            {% if item.errors %} 
                {% for error in item.errors %}
                    $("#flash_text").text("{{error}}");
                    $("#flash_text_div").show();
                {% endfor %}
            {% endif %}
        {% endfor %}
    }
    $(document).ready(function() {    
        $('#profile-pic').change(function(e) {
            var filename = e.target.files[0].name;
            $("#filename").text(filename);
        });
    });
    setInterval('raise_error()', 1);
</script>

    <div class="md:mx-5% w-100% md:w-90% md:border-solid md:border-black md:rounded-md md:my-5% items-center md:border-0.5">
        <p class="text-center text-lg xsm:text-4xl w-90% md:w-80% mt-5% mx-auto">Edit {{old_student.fullname}}'s Details</p>
        <hr class="border-black w-90% md:w-80% mx-auto my-3% sm:mt-2% sm:mb-1%" />
        <form action='' method="POST" class="w-90% md:w-80% mx-auto" enctype="multipart/form-data">
            <div class="w-100% grid md:grid-cols-2 md:gap-x-2 space-y-2 justify-items-center">
                {{ form.hidden_tag() }}
                <div class="flex items-center justify-center col-span-2">
                    <label for="profile-pic" class="w-64 flex items-center p-2 bg-white text-blueC rounded-lg tracking-wide uppercase border-0.5 border-blueC border-solid cursor-pointer">
                        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-8 h-8">
                            <path stroke-linecap="round" stroke-linejoin="round" d="M12 4v16m8-8H4"></path>
                        </svg>
                        <span id="filename" class="ml-2 text-base text-blueC leading-normal">Upload Profile Picture</span>
                        {{ form.pfp(class="hidden", id="profile-pic", type="file") }}

                    </label>
                </div>
                {{ form.username(class="        text-base md:text-lg w-100% border-0.5 border-black text-center py-1% rounded-lg col-span-2 md:col-span-1", value=old_student.username, placeholder="Name")}}
                {{ form.fullname(class="        text-base md:text-lg w-100% border-0.5 border-black text-center py-1% rounded-lg col-span-2 md:col-span-1", value=old_student.fullname, placeholder="Full Name")}}
                {{ form.email(class="           text-base md:text-lg w-100% border-0.5 border-black text-center py-1% rounded-lg col-span-2 md:col-span-1", value=old_student.email, placeholder="Email") }}
                {{ form.phone_number(class="    text-base md:text-lg w-100% border-0.5 border-black text-center py-1% rounded-lg col-span-2 md:col-span-1", value=old_student.phone_number, placeholder='Phone Number') }}
                {{ form.password(class="        text-base md:text-lg w-100% border-0.5 border-black text-center py-1% rounded-lg col-span-2 md:col-span-1", value=old_student.password, placeholder="Password")}}
                {{ form.confirm_password(class="text-lg w-100% border-0.5 border-black text-center py-1% rounded-lg col-span-2 md:col-span-1", value=old_student.confirm_password, placeholder="Confirm Password") }}
                
                {{ form.graduation_year(class="text-lg w-100% border-0.5 border-black text-center py-1% rounded-lg col-span-2 md:col-span-1", value=old_student_details.graduation_year, placeholder="Graduation Year") }}
                {{ form.myp_score(class="text-lg w-100% border-0.5 border-black text-center py-1% rounded-lg col-span-2 md:col-span-1", value=old_student_details.myp_score, placeholder='MYP-5 Score (out of 56)') }}
                {{ form.dp_predicted(class="text-lg w-100% border-0.5 border-black text-center py-1% rounded-lg col-span-2 md:col-span-1", value=old_student_details.dp_predicted, placeholder='DP predicted score (out of 45)') }}
                {{ form.dp_score(class="text-lg w-100% border-0.5 border-black text-center py-1% rounded-lg col-span-2 md:col-span-1", value=old_student_details.dp_score, placeholder='DP score (out of 45)') }}
                {{ form.portfolio(class="text-lg w-100% border-0.5 border-black text-center py-1% rounded-lg col-span-2 md:col-span-1", value=old_student_details.portfolio, placeholder='Link to portfolio (Optional)') }}
                
                <div class="mt-2% col-span-2 md:col-span-1">
                    <label class="switch m-0">
                        {% if old_student_details.has_diploma %}
                        {{ form.has_diploma(class="form-check-input", type="checkbox", checked=true) }}
                        {% else %}
                        {{ form.has_diploma(class="form-check-input", type="checkbox") }}
                        {% endif %}
                        <span class="slider round"></span>
                    </label>
                    <p class="inline-block relative bottom-1.5 text-base md:text-lg">Opting for diploma</p>
                </div>
            </div>
            {{ form.submit(class="w-100% md:w-50% md:mx-25% mt-2% mb-5% text-white bg-blue-700 hover:bg-blue-800 rounded-lg px-5 py-2.5 focus:outline-none text-lg md:text-2xl") }}
        </form>
    </div>
            
{% endblock main %}