{% extends "layout.html" %}

{% block title %}
    Edit User
{% endblock %}

{% block main %}

<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script type=text/javascript>
    
    function raise_error() {
        
        {% if form.username.errors %} 
            {% for error in form.username.errors %}
                $("#flash_text").text("{{error}}");
                $("#flash_text_div").show();
            {% endfor %}
        {% endif %}

        {% if form.email.errors %} 
            {% for error in form.email.errors %}
                $("#flash_text").text("{{error}}");
                $("#flash_text_div").show();
            {% endfor %}
        {% endif %}

        {% if form.password.errors %} 
            {% for error in form.password.errors %}
                $("#flash_text").text("{{error}}");
                $("#flash_text_div").show();
            {% endfor %}
        {% endif %}
        

        {% if form.confirm_password.errors %} 
            {% for error in form.confirm_password.errors %}
                $("#flash_text").text("{{error}}");
                $("#flash_text_div").show();
            {% endfor %}
        {% endif %}

        {% if form.super_user_key.errors %} 
            {% for error in form.super_user_key.errors %}
                $("#flash_text").text("{{error}}");
                $("#flash_text_div").show();
            {% endfor %}
        {% endif %}
    }
    setInterval('raise_error()', 1);
</script>

    <div class="border-solid border-black rounded-md my-5% items-center border-0.5">
        <p class="text-center text-lg xsm:text-4xl w-80% mt-5% mx-auto">Edit User {{old_user.username}}</p>
        <hr class="border-black w-80% mx-auto my-3% sm:my-2%" />
        <form action='' method="POST" class="w-80% mx-auto">
            <div class="w-100% items-center">
                {{ form.hidden_tag() }}
                {{ form.username(class="        text-base xsm:text-xl w-100% border-0.5 border-black text-center py-1% rounded-lg mb-5% sm:mb-1%", value=old_user.username, placeholder="Username")}}
                {{ form.email(class="           text-base xsm:text-xl w-100% border-0.5 border-black text-center py-1% rounded-lg mb-5% sm:mb-1%", value=old_user.email, placeholder="Email") }}
                {{ form.password(class="        text-base xsm:text-xl w-100% border-0.5 border-black text-center py-1% rounded-lg mb-5% sm:mb-1%", placeholder="New Password")}}
                {{ form.confirm_password(class="text-base xsm:text-xl w-100% border-0.5 border-black text-center py-1% rounded-lg mb-5% sm:mb-1%", placeholder="Confirm New Password") }}
                {{ form.super_user_key(class="  text-base xsm:text-xl w-100% border-0.5 border-black text-center py-1% rounded-lg mb-5% sm:mb-1%", placeholder="Super User Key")}}
                {{ form.submit(class="btn btn-primary mt-2% sm:ml-35% w-100% sm:w-30% mb-5% text-base xsm:text-xl sm:text-2xl") }}
            </div>
        </form>
    </div>
            
{% endblock main %}