{% extends "layout.html" %}

{% block title %}
    Register Student
{% endblock %}

{% block main %}

<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script type=text/javascript>
    
    function raise_error() {
        {% for item in [form.username, form.fullname, form.email, form.password, form.confirm_password, form.phone_number] %}
            {% if item.errors %} 
                {% for error in item.errors %}
                    $("#flash_text").text("{{error}}");
                    $("#flash_text_div").show();
                {% endfor %}
            {% endif %}
        {% endfor %}
    }
    setInterval('raise_error()', 1);
</script>

<div class="mx-auto w-100% md:w-90% md:border-solid md:border-black md:rounded-md md:my-5% items-center md:border-0.5">
    <p class="text-center text-lg md:text-4xl w-90% md:w-80% mt-5% mx-auto">Edit {{old_admin.username}}'s Details</p>
    <hr class="border-black w-90% md:w-80% mx-auto my-3% sm:mt-2% sm:mb-1%" />
    <form action='' method="POST" class="w-90% md:w-80% mx-auto">
        <div class="w-100% grid md:grid-cols-2 md:gap-x-2 space-y-2 justify-items-center">
                {{ form.hidden_tag() }}
                {{ form.username(class="        text-base md:text-lg w-100% border-0.5 border-black text-center py-1% rounded-lg col-span-2 md:col-span-1", value=old_admin.username, placeholder="Username")}}
                {{ form.fullname(class="        text-base md:text-lg w-100% border-0.5 border-black text-center py-1% rounded-lg col-span-2 md:col-span-1", value=old_admin.fullname, placeholder="Full Name")}}
                {{ form.email(class="           text-base md:text-lg w-100% border-0.5 border-black text-center py-1% rounded-lg col-span-2 md:col-span-1", value=old_admin.email, placeholder="Email") }}
                {{ form.phone_number(class="    text-base md:text-lg w-100% border-0.5 border-black text-center py-1% rounded-lg col-span-2 md:col-span-1", value=old_admin.phone_number, placeholder='Phone Number') }}
                {{ form.password(class="        text-base md:text-lg w-100% border-0.5 border-black text-center py-1% rounded-lg col-span-2 md:col-span-1", value=old_admin.password, placeholder="Password")}}
                {{ form.confirm_password(class="text-base md:text-lg w-100% border-0.5 border-black text-center py-1% rounded-lg col-span-2 md:col-span-1", value=old_admin.confirm_password, placeholder="Confirm Password") }}
            </div>
            {{ form.submit(class="w-100% md:w-50% md:mx-25% mt-2 mb-5% btn btn-primary text-lg md:text-2xl") }}
    </form>
    </div>
            
{% endblock main %}