{% extends "layout.html" %}

{% block title %}
    Home
{% endblock %}

{% block main %}
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <link rel="stylesheet" href="../static/css/filter_multi_select.css" />
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script src="../static/extensions/filter-multi-select-bundle-base.min.js"></script>

    <script type=text/javascript>
    function raise_error() {
            {% if form.courses.errors %} 
                {% for error in form.courses.errors %}
                    $("#flash_text").text("{{error | safe }}");
                    $("#flash_text_div").show();
                {% endfor %}
            {% endif %}
            
            {% if form.location.errors %} 
                {% for error in form.location.errors %}
                    $("#flash_text").text("{{error | safe }}");
                    $("#flash_text_div").show();
                {% endfor %}
            {% endif %}
            
            {% if form.ib_cutoff.errors %} 
                {% for error in form.ib_cutoff.errors %}
                    $("#flash_text").text("{{error | safe }}");
                    $("#flash_text_div").show();
                {% endfor %}
            {% endif %}
            
            {% if form.scholarships.errors %} 
                {% for error in form.scholarships.errors %}
                    $("#flash_text").text("{{error | safe }}");
                    $("#flash_text_div").show();
                {% endfor %}
            {% endif %}

            {% if form.requirements.errors %} 
                {% for error in form.requirements.errors %}
                    $("#flash_text").text("{{error | safe }}");
                    $("#flash_text_div").show();
                {% endfor %}
            {% endif %}
        }
        setInterval('raise_error()', 1);

        var unis_len = 0
        {% for uni in unis %}unis_len = unis_len+1
        {% endfor %}
        $(document).ready(function() {
            const COURSES = $('#courses_ms').filterMultiSelect();
            const LOCATIONS = $('#locations_ms').filterMultiSelect();

            $(function() {
                $('#clear_filter').on('click', function(e) {
                    $('#ib_cutoff').val('').change();
                    $('#requirements').val('').change();
                    $('#scholarships').val('').change();
                    {% for course in courses %}
                        COURSES.deselectOption({{course | safe}});
                    {% endfor %}
                    {% for location in locations %}
                        LOCATIONS.deselectOption({{location | safe}});
                    {% endfor %}
                    
                });
            });
        });
        function getUrlVars(){
            var vars = [], hash;
            var hashes = window.location.href.slice(window.location.href.indexOf('?') + 1).split('&');
            for(var i = 0; i < hashes.length; i++)
            {
                hash = hashes[i].split('=');
                vars.push(hash[0]);
                vars[hash[0]] = hash[1];
            }
            return vars;
        }

        $(document).ready(function(){
            vars= getUrlVars();
            var keyword = decodeURI(vars['keyword']);
            if(keyword == 'undefined'){keyword='';}
            $("#search-input").val(keyword).change();

            var filter_id = '#applied_filters_';
            var input_id = '#FilterInput-';
			var filters = ['ib_cutoff','requirements','scholarships','location','courses'];
			var filters_name = ['Ib Cutoff','Requirements','Scholarships','Locations','Courses'];
            var text_style = 'inline-block w-fit px-3 py-1 border-black border-0.5 rounded-lg' 
			for(var i = 0; i<5; i++)
            {
                if ($(input_id+filters[i]).val() != "" && ($(input_id+filters[i]).val()) != null)
                {
                    $(filter_id+filters[i]).text(filters_name[i]+': '+$(input_id+filters[i]).val());
                    $(filter_id+filters[i]).attr('class', text_style);
                }
                else
                {
                    $(filter_id+filters[i]).attr('class', 'hidden '+text_style);
                }
            }
        });
        
        $(function() {
            $("#search-input").keypress(function (event) {
                if (event.keyCode === 13) {
                    $("#search_button").click();
                }
            });
        });

        $(function() {
            $('#search_button').on('click', function(e) {
                var keyword = $("#search-input").val();
                window.location = "/?keyword="+keyword;
            });
        });
        
        $(function() {
            var availableTags = [];
            {% for uni in unis %}
                p = "{{ uni.name | safe }}"
                availableTags.push(p);
            {% endfor %}
            $("#search-input").autocomplete({
                source: availableTags,
                open: function() {
                    $("ul.ui-menu").width( $("#search-div").innerWidth() );
                }
            });
        });

        $(function() {
		    $('#ShowFilter').on('click', function(e) {
			    var ImageSrc = $('#ShowFilterImg');
			    var TextSrc = $('#ShowFilterText');
				if ( ImageSrc.attr('src') == '../static/assets/dropdown-icon.svg')
					{
						ImageSrc.attr('src', '../static/assets/dropdown-icon-clicked.svg');
                        TextSrc.text('Hide Filters');
					}
					else
					{
						ImageSrc.attr('src', '../static/assets/dropdown-icon.svg');
                        TextSrc.text('Show Filters');
					}
				});
			});

        $(function() {
		    $('.FilterInput').on('change', function(e) {
			    var filter_id = '#applied_filters_';
                var input_id = '#FilterInput-';
			    var filters = ['ib_cutoff','requirements','scholarships','location','courses'];
			    var filters_name = ['Ib Cutoff','Requirements','Scholarships','Locations','Courses'];
                var text_style = 'inline-block w-fit px-3 py-1 border-black border-0.5 rounded-lg' 
				for(var i = 0; i<5; i++)
                {
                    if ($(input_id+filters[i]).val() != "" && ($(input_id+filters[i]).val()) != null)
                    {
                        $(filter_id+filters[i]).text(filters_name[i]+': '+$(input_id+filters[i]).val());
                        $(filter_id+filters[i]).attr('class', text_style);
                    }
                    else
                    {
                        $(filter_id+filters[i]).attr('class', 'hidden '+text_style);
                    }
                }
			});
		});
    </script>

    <div id="dropdownHover" class="hidden w-90% md:w-80% 880:w-50% mx-auto bg-white border-0.5 border-black rounded-lg">
        <div class="mx-auto w-80%">
            <form action='' method="POST" class="w-100% mx-auto">
                {{ form.hidden_tag() }}
                {{ form.ib_cutoff(id="FilterInput-ib_cutoff", class="FilterInput text-base w-100% sm:w-47.5% border-0.5 border-black text-center py-1% rounded-lg mt-5%", placeholder='Cut off/required grade for IBDP') }}
                {{ form.requirements(id="FilterInput-requirements", class="FilterInput text-base w-100% sm:w-47.5% border-0.5 border-black text-center py-1% rounded-lg mt-3% sm:mt-5% float-right", placeholder='Requirements for admission') }} 
                {{ form.scholarships(id="FilterInput-scholarships", class="FilterInput text-base w-100% border-0.5 border-black text-center py-1% rounded-lg mt-3%", placeholder='Scholarships') }}
                
                <div class="w-100% xsm:w-47.5% inline-block mt-2%">
                    <h3 class="w-100% text-center mb-1">Locations</h3>
                    {{ form.location(class="FilterInput", id="locations_ms") }} 
                </div>
                <div class="w-100% xsm:w-47.5% inline-block mt-2% float-right">
                    <h3 class="w-100% text-center mb-1">Courses</h3>
                    {{ form.courses(class="FilterInput", id="courses_ms") }}
                </div>    
                {{ form.submit(class="btn btn-primary rounded-lg w-100% xsm:w-47.5% mt-5% text-base") }}
                {{ form.clear(id="clear_filter", class="btn btn-primary rounded-lg w-100% xsm:w-47.5% mt-2% xsm:mt-5% mb-5% text-base float-right") }}
            </form>
        </div>
    </div>

    <div class="w-100% text-center items-center mt-5" data-dropdown-toggle="dropdownHover" data-dropdown-trigger="click"  id="ShowFilter">
        <p class="inline-block" id="ShowFilterText">Show Filters</p>
        <img class="inline-block mb-1 w-4 h-4" id="ShowFilterImg" src="../static/assets/dropdown-icon.svg">
    </div>
    <div class="mt-2">
        <div class="w-100% md:w-80% 880:w-50% mx-auto mb-2">
            <div class="w-fit mx-auto">
                <p id="applied_filters_ib_cutoff"></p>
                <p id="applied_filters_requirements"></p>
                <p id="applied_filters_scholarships"></p>
                <p id="applied_filters_location"></p>
                <p id="applied_filters_courses"></p>
            </div>
        </div>
        <div id="search-div" class="w-100% md:w-80% 880:w-50% mx-auto border-0.5 border-gradient rounded-lg text-left z-10 bg-white">
            <input type="text" name="keyword" id="search-input" class="form-control autocomplete border-0 inline-block w-80% text-lg text-gradient focus:text-gradient" placeholder="Search...">
            <button id="search_button" class="float-right">
                <img class="inline-block w-100% align-middle mt-9px pr-9px" src="../static/assets/arrow.svg"/>
            </button>
        </div>
    </div>

    <div id="unis">
        <h3 id="no_unis" class="hidden w-100% text-center my-3 text-4xl"></h3>
            {% if not no_unis %}
                {% for uni in unis %}
                    
                <div class="w-100% md:w-80% 880:w-50% mt-2 border-0.5 border-black rounded-md mx-auto" id="uni{{ uni.id }}">
                    <div class="m-2 mx-3">
                        <p class="inline-block"><a href="{{ url_for('uni', uni_name=uni.name) }}">{{ uni.name }}</a></p>
                    </div>
                </div>
                {% endfor %}
            {% else %}
                <h3 class="w-100% text-center text-4xl">No Universities Found</h3>
            {% endif %}
    </div>

{% endblock main %}