<!doctype html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- flowbite tailwind extension -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/flowbite/1.8.0/flowbite.min.css" rel="stylesheet" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/1.8.0/flowbite.min.js"></script>
      

    <!-- css -->
    <link rel="stylesheet" href="{{url_for('static',filename='css/custom.css')}}">
    <link rel="stylesheet" href="{{url_for('static',filename='css/output.css')}}">

    <title>Stepping Stone-{% block title %}{% endblock %}</title>
    <link rel="icon" type="image/x-icon" href="../static/assets/icon.png">
  </head>
  <body>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>

	<!-- script for phone navbar -->
	<script type=text/javascript>
		$(function() {
			$('#phone_navbar_button').on('click', function(e) {		
				$("#phone_bottom_navbar").toggle();
			});
		});
	</script>

    <!-- navbar -->

		<div class="z-20 bg-white relative">
			<!-- pc navbar -->
			<div class="hidden md:inline-block">
				<nav class="grid grid-rows-1 grid-flow-col gap-x-12 items-end ml-4">
					<div class="flex items-center" >
						<a href="/" class="justify-self-end">
							<img src="../static/assets/logo.png" class="w-12 inline" alt="" id="website-logo"/>
						</a>
						<img src="../static/assets/V_line.png" class="w-2 inline ml-2" alt="" id=""/>
						<a href="https://cois.edu.in" class="">
							<img src="../static/assets/cois_logo.jpg" class="w-36" alt="" id=""/>
						</a>
					</div>
					{% if not current_user.is_authenticated %}
						<div class="">
							<a class="navbar-link" href="/">
								<button class="underline-btn">Home</button>
							</a>
						</div>
						<div class="">
							<a class="navbar-link" href="/login">
								<button class="underline-btn">Login</button>
							</a>
						</div>
					{% else %}
							{% if current_user.is_student %}
							<div class="">
								<a class="navbar-link" href="/unis">
									<button class="underline-btn">Universities</button>
								</a>
							</div>
							<div class="">
								<a class="navbar-link" href="/students">
									<button class="underline-btn">Students</button>
								</a>
							</div>
							{% else %}
								<div class="self-center">
									<button id="dropdownDefaultButton" data-dropdown-toggle="dropdown" class="text-center inline-flex items-center" type="button">
										Manage <svg class="w-2.5 h-2.5 ms-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 10 6">
										<path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 1 4 4 4-4"/>
										</svg>
									</button>
										
										<!-- Dropdown menu -->
										<div id="dropdown" class="z-10 hidden bg-white divide-y divide-gray-100 rounded-lg shadow w-44 dark:bg-gray-700">
											<ul class="grid auto-rows-max py-2 gap-y-2 text-center" aria-labelledby="dropdownDefaultButton">
											<li class="w-100%">
												<a href="/manage_unis" class="block px-4 py-1 hover:bg-gray-100">Universities</a>
											</li>
											<li class="w-100%">
												<a href="/manage_courses" class="block px-4 py-1 hover:bg-gray-100">Courses</a>
											</li>
											<li class="w-100%">
												<a href="/manage_locations" class="block px-4 py-1 hover:bg-gray-100">Locations</a>
											</li>
											<li class="w-100%">
												<a href="/manage_students" class="block px-4 py-1 hover:bg-gray-100">Students</a>
											</li>
											
											{% if current_user.username == "SUPERUSER" %}
												<li class="w-100%">
													<a href="/manage_admins" class="block px-4 py-1 hover:bg-gray-100">Admins</a>
												</li>
											{% endif %}
											</ul>
										</div>
								</div>
								<div class="self-center">
									<button id="dropdownDefaultButton" data-dropdown-toggle="dropdown2" class="text-center inline-flex items-center" type="button">
										Students View <svg class="w-2.5 h-2.5 ms-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 10 6">
										<path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 1 4 4 4-4"/>
										</svg>
									</button>
										
										<!-- Dropdown menu -->
										<div id="dropdown2" class="z-10 hidden bg-white divide-y divide-gray-100 rounded-lg shadow w-44 dark:bg-gray-700">
											<ul class="grid auto-rows-max py-2 gap-y-2 text-center" aria-labelledby="dropdownDefaultButton">
												<li class="w-100%">
													<a href="/unis" class="block px-4 py-1 hover:bg-gray-100">Universities</a>
												</li>
												<li class="w-100%">
													<a href="/students" class="block px-4 py-1 hover:bg-gray-100">Students</a>
												</li>
											</ul>
										</div>
								</div>
							{% endif %}
							<div class="">
								<a class="navbar-link" href="/profile/{{ current_user.username}}">
									<button class="underline-btn">My Profile</button>
								</a>
							</div>
							<div class="">
								<a class="navbar-link" href="/logout">
									<button class="underline-btn">Log Out</button>
								</a>
							</div>
					{% endif %}
				</nav>
			</div>

			{% if current_user.is_authenticated %}
				<a class="hidden md:inline float-right mr-2 mt-1">
					<img src="../static/profile_pics/{{current_user.pfp}}" class="w-10 rounded-full border-0.5 border-black border-solid" alt="" id=""/>
				</a>
			{% endif %}
			

			<hr class="hidden md:block w-100% m-0 p-0 border-gradient" id="navbar-hr"/>

			<!-- phone navbar -->
			<div id="phone_top_navbar" class="block md:hidden w-100%">
				<div class="grid grid-cols-4 items-center w-100%">
					<div class="col-span-3">
						<a href="/" class="justify-self-start">
							<img src="../static/assets/logo.png" class="inline w-10 sm:w-12 ml-2" alt="" />
						</a>
						<img src="../static/assets/V_line.png" class="w-2 inline ml-2" alt="" id=""/>
						<a href="https://cois.edu.in" class="">
							<img src="../static/assets/cois_logo.jpg" class="inline w-28" alt="" id=""/>
						</a>
					</div>

					<div class="mr-3% cursor-pointer justify-self-end">
						<svg
							id="phone_navbar_button"
							class="w-6 h-6"
							fill="black"
							stroke=black
							viewBox="0 0 24 24"
							xmlns="http://www.w3.org/2000/svg"
						>
							<path
								strokeLinecap="round"
								strokeLinejoin="round"
								strokeWidth="2"
								d="M4 6h16M4 12h16M4 18h16"
							></path>
						</svg>
					</div>
				</div>

				<hr class="w-100% m-0 p-0 border-gradient" />
				<div id="phone_bottom_navbar" class="block">
					<div class="fixed items-center w-screen h-screen mobile-navbar-background">
						<div class="w-50% xsm:w-30% h-screen bg-white float-right rounded-lg" id="navbar-default">
							<div class="font-medium grid grid-cols-1 gap-y-5 p-3">
								{% if not current_user.is_authenticated %}
									<a href="/" class="w-fit mt-0 mx-auto block rounded">Home</a>
									<a href="/login" class="w-fit mt-0 mx-auto block rounded">Login</a>
								{% else %}
									{% if current_user.is_student %}
										<a href="/unis" class="w-fit mt-0 mx-auto block rounded">Universities</a>
										<a href="/students" class="w-fit mt-0 mx-auto block rounded">Students</a>
									{% else %}
										<button id="dropdownDefaultButton" data-dropdown-toggle="Mdropdown" class="justify-self-center text-center inline-flex items-center" type="button">
											Manage <svg class="w-2.5 h-2.5 ml-2 justify-self-center" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 10 6">
											<path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 1 4 4 4-4"/>
											</svg>
										</button>
											
											<!-- Dropdown menu -->
											<div id="Mdropdown" class="z-10 hidden bg-white divide-y divide-gray-100 rounded-lg shadow w-44 dark:bg-gray-700">
												<ul class="grid auto-rows-max py-2 gap-y-2 text-center" aria-labelledby="dropdownDefaultButton">
												<li class="w-100%">
													<a href="/manage_unis" class="block px-4 py-1 hover:bg-gray-100">Universities</a>
												</li>
												<li class="w-100%">
													<a href="/manage_courses" class="block px-4 py-1 hover:bg-gray-100">Courses</a>
												</li>
												<li class="w-100%">
													<a href="/manage_locations" class="block px-4 py-1 hover:bg-gray-100">Locations</a>
												</li>
												<li class="w-100%">
													<a href="/manage_students" class="block px-4 py-1 hover:bg-gray-100">Students</a>
												</li>
												
												{% if current_user.username == "SUPERUSER" %}
													<li class="w-100%">
														<a href="/manage_admins" class="block px-4 py-1 hover:bg-gray-100">Admins</a>
													</li>
												{% endif %}
												</ul>
											</div>
										<button id="dropdownDefaultButton" data-dropdown-toggle="Mdropdown2" class="text-center inline-flex items-center" type="button">
											Students View <svg class="w-2.5 h-2.5 ml-2" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 10 6">
											<path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 1 4 4 4-4"/>
											</svg>
										</button>
											
											<!-- Dropdown menu -->
											<div id="Mdropdown2" class="z-10 hidden bg-white divide-y divide-gray-100 rounded-lg shadow w-44 dark:bg-gray-700">
												<ul class="grid auto-rows-max py-2 gap-y-2 text-center" aria-labelledby="dropdownDefaultButton">
													<li class="w-100%">
														<a href="/unis" class="block px-4 py-1 hover:bg-gray-100">Universities</a>
													</li>
													<li class="w-100%">
														<a href="/students" class="block px-4 py-1 hover:bg-gray-100">Students</a>
													</li>
												</ul>
											</div>
									{% endif %}
									<a href="/profile/{{ current_user.username }}" class="w-fit mt-0 mx-auto block rounded">My Profile</a>
									<a href="/logout" class="w-fit mt-0 mx-auto block rounded">Logout</a>
								{% endif %}
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	
    <!-- notifications/error messages/other -->
    {% with messages = get_flashed_messages(with_categories=true) %}
      {% if messages %}
        {% for category, message in messages %}
          <div class="z-20 fixed bottom-3 left-1% bg-blue-600 rounded-lg w-98% sm:w-30% md:25% p-1% md:p-0 ">
            <p class="text-sm text-white text-center w-90% ml-5% my-1% sm:mt-3% sm:mb-4% sm:text-base">{{ message }}</p>
          </div>
        {% endfor %}
      {% endif %}
    {% endwith %}
    <div class="z-20 fixed bottom-3 left-1% bg-blue-600 rounded-lg w-98% sm:w-30% md:25% p-1% md:p-0 hidden" id="flash_text_div">
      <p class="text-sm text-white text-center w-90% ml-5% my-1% sm:mt-3% sm:mb-4% sm:text-base" id="flash_text"></p>
    </div>      

    <!-- Individual page content -->
    <main class="">
      {% block main %}{% endblock main %}
    </main>
  </body>
</html>