{% extends "layout.html" %}

{% block title %}
    Login
{% endblock %}

{% block main %}

<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script type=text/javascript>
    
    function raise_error() {
        {% if form.username.errors %} 
            {% for error in form.username.errors %}
                $("#flash_text").text("{{error}}");
                $("#flash_text_div").show();
            {% endfor %}
        {% endif %}

        {% if form.password.errors %} 
            {% for error in form.password.errors %}
                $("#flash_text").text("{{error}}");
                $("#flash_text_div").show();
            {% endfor %}
        {% endif %}
    }
    setInterval('raise_error()', 1);
</script>

<style>
        .text-overlay{
        font-family: "Poppins", sans-serif;
        font-weight: 800;
        font-size: 3.5rem;
        color: #0F3FA2;
        margin-left: 10%;
        margin-top: 8%;
        }
        input:focus
        {
            box-shadow: none !important;
            border: none !important;
            border-bottom: 2px solid #0F3FA2 !important;
            outline: 0 !important;
        }
        .title{
            width:fit-content;
        }
</style>

    <!-- login form -->
    <div class="md:grid">
        <div class="hidden md:block bg-transparent z-30">
            <div class="text-overlay">
                <p class="title">Welcome to</p>
                <p class="title">&emsp;Stepping Stone</p>
            </div>
        </div>
        <img class="hidden md:block fixed bottom-0 w-100%" src="../static/assets/home_page/school background.png">
        <div class="md:fixed h-screen right-0 z-40 bg-white w-100% md:w-30% md:border-solid md:border-black items-center md:border-0.5 md:border-t-0">
            <div class="absolute h-50% top-20% w-100%">
                <p class="text-center text-lg md:text-4xl w-100% mt-5% mx-auto">Login</p>
                <!-- <hr class="border-black w-90% md:w-80% mx-auto my-3% sm:mt-2% sm:mb-1%" /> -->
                <form action='' method="POST" class="w-100%">
                    <div class="w-90% mx-auto justify-items-center mb-5%">
                        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
                        {{ form.username(class="text-base md:text-lg w-100% border-0 border-b-0.5 border-b-black text-center py-1% mt-6", placeholder="username") }}
                        {{ form.password(class="text-base md:text-lg w-100% border-0 border-b-0.5 border-b-black text-center py-1% mt-6", placeholder="Password") }}
                        
                        {{ form.submit(class="md:ml-25% mt-10 col-span-2 text-white bg-blue-700 hover:bg-blue-800 px-5 py-2.5 focus:outline-none w-100% md:w-50% text-lg md:text-2xl") }}
                    </div>
                </form>
            </div>
        </div>
        
    </div>
            
{% endblock main %}