{% extends "layout.html" %}

{% block title %}
    Login
{% endblock %}

{% block main %}

<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script type=text/javascript>
    
    function raise_error() {
        {% if form.username.errors %} 
            {% for error in form.username.errors %}
                $("#flash_text").text("{{error}}");
                $("#flash_text_div").show();
            {% endfor %}
        {% endif %}

        {% if form.password.errors %} 
            {% for error in form.password.errors %}
                $("#flash_text").text("{{error}}");
                $("#flash_text_div").show();
            {% endfor %}
        {% endif %}
    }
    setInterval('raise_error()', 1);
</script>

    <!-- login form -->
    <div class="mx-auto w-100% md:w-50% md:border-solid md:border-black md:rounded-md md:my-5% items-center md:border-0.5">
        <p class="text-center text-lg md:text-4xl w-90% md:w-80% mt-5% mx-auto">Login</p>
        <hr class="border-black w-90% md:w-80% mx-auto my-3% sm:mt-2% sm:mb-1%" />
        <form action='' method="POST" class="w-90% md:w-80% mx-auto">
            <div class="w-100% grid md:grid-cols-2 md:gap-x-2 space-y-2 justify-items-center mb-5%">
            {{ form.hidden_tag() }}
                {{ form.username(class="        text-base md:text-lg w-100% border-0.5 border-black text-center py-1% rounded-lg col-span-2", placeholder="username") }}
                {{ form.password(class="        text-base md:text-lg w-100% border-0.5 border-black text-center py-1% rounded-lg col-span-2", placeholder="Password") }}
                
                {{ form.submit(class="col-span-2 text-white bg-blue-700 hover:bg-blue-800 rounded-lg px-5 py-2.5 focus:outline-none w-100% md:w-50% text-lg md:text-2xl") }}
            </div>
        </form>
    </div>
            
{% endblock main %}