{% extends "layout.html" %}

{% block title %}
    Manage Students
{% endblock %}

{% block main %}
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

<script type=text/javascript>
var student_len = 0;
{% for student in students %}
    student_len +=1;
{% endfor %}

    {% for student in students %}
            $(function() {
                $('#delete_student{{ student.id }}').on('click', function(e) {
                    e.preventDefault()
                    $.getJSON('{{ url_for("delete_student", student_id = student.id) }}',function(data) {});
                    $("#student{{ student.id }}").hide();
                    
                    $("#flash_text").text("{{ del_flash }}");
                    $("#flash_text_div").show();
                    
                    student_len = student_len-1;
                    if(student_len==0)
                    {
                        $('#no_student').text("No Students Found");
                        $("#no_student").toggle();
                    }
                });
            });
        {% endfor %}

    function getUrlVars(){
        var vars = [], hash;
        var hashes = window.location.href.slice(window.location.href.indexOf('?') + 1).split('&');
        for(var i = 0; i < hashes.length; i++)
        {
            hash = hashes[i].split('=');
            vars.push(hash[0]);
            vars[hash[0]] = hash[1];
        }
        return vars;
    }

    $(document).ready(function(){
        vars= getUrlVars();
        var keyword = decodeURI(vars['keyword']);
        if(keyword == 'undefined'){keyword='';}
        $("#search-input").val(keyword).change();
        
        if(student_len==0)
            {
                $('#no_student').text("No Students Found");
                $("#no_student").toggle();
            }
    });

    $(function() {
        $('#search_button').on('click', function(e) {
            var sort = $("#sort").val();
            var sort_direction = $("#sort_direction").val();
            var keyword = $("#search-input").val();
            window.location = "/manage_students?keyword="+keyword;
        });
    });
    
    $(function() {
        var availableTags = [];
        {% for student in students %}
            p = "{{ student.fullname | safe }}"
            availableTags.push(p);
        {% endfor %}
        $( "#search-input" ).autocomplete({
            source: availableTags,
            open: function() {
                $("ul.ui-menu").width( $("#search-div").innerWidth() );
            }
        });
    });
    
    $(function() {
            $("#search-input").keypress(function (event) {
                if (event.keyCode === 13) {
                    $("#search_button").click();
                }
            });
        });
</script>

<div class="w-90% mx-auto">
    <div id="search-div" class="w-100% md:w-50% mx-auto mt-5 border-0.5 border-gradient rounded-lg text-left z-10 bg-white">
    <input type="text" name="keyword" id="search-input" class="form-control autocomplete border-0 inline-block w-80% text-lg text-gradient focus:text-gradient" placeholder="Search...">
    <button id="search_button" class="float-right">
        <img class="inline-block w-100% align-middle mt-9px pr-9px" src="../static/assets/arrow.svg"/>
    </button>
    </div>
    <div>
        <h3 id="no_student" class="hidden my-3 text-4xl text-center mx-auto"></h3>
        {% for student, details in zip(students, student_details) %}
        <hr class="border-grayC w-100% my-4">
        <a href="profile/{{student.username}}">
            <div class="w-90% mx-auto">
                <div class="xsm:flex items-center">
                    <img class="w-24 mr-4" src="../static/profile_pics/{{ student.pfp }}">
                    <div class="self-center gap-y-2 mb-2">
                        <p class="text-blueC text-xl md:text-3xl font-bold">{{ student.fullname }}</p>
                        <p class="text-blueC text-lg md:text-xl">{{ student.username }} · Class of {{ details.graduation_year }}</p>
                    </div>
                </div>
                <div class="md:ml-28 grid grid-cols-1 md:grid-cols-2">
                    {% if details.myp_score %} <p class="text-base md:text-lg md:w-96"><b>{{ details.myp_score }}</b> / 56 MYP score</p> {% endif %}
                    {% if details.dp_score %} <p class="text-base md:text-lg"><b>{{ details.dp_score }}</b> / 45 DP score</p> {% endif %}
                    {% if details.dp_predicted %} <p class="text-base md:text-lg"><b>{{ details.dp_predicted }}</b> / 45 DP predicted</p> {% endif %}
                </div>
                <div class="md:ml-28 mt-3">
                    <a class="justify-self-center w-100% text-right" href="{{ url_for('edit_student', student_id=student.id) }}">
                        <button class="text-white bg-gray-800 hover:bg-gray-900 rounded-lg px-5 py-2.5 w-100% md:w-fit mx-auto"><img class="w-7 h-7 mx-auto" src="../static/assets/edit-icon-white.svg"></button>
                    </a>
                    <button class="text-white bg-red-700 hover:bg-red-800 rounded-lg px-5 py-2.5 w-100% md:w-fit justify-self-left mt-2 md:mt-0" id="delete_student{{ student.id }}"><img class="w-7 h-7 mx-auto" src="../static/assets/delete-button-white.png"></button>
                </div>
            </div>
        </a>
        {% endfor %}
        <hr class="border-grayC w-100% my-4">

    <!-- add new student button -->
<div class="z-30 fixed bottom-5 right-5% bg-blue-600 w-15 h-15 rounded-2xl">
    <a href="/student_register">
        <img src="../static/assets/new_uni_button.svg">
    </a>
</div>
{% endblock %}