{% extends "layout.html" %}

{% block title %}
    Manage Courses
{% endblock %}

{% block main %}
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <link rel="stylesheet" href="../static/css/filter_multi_select.css" />
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script src="../static/extensions/filter-multi-select-bundle-base.min.js"></script>

    <script type=text/javascript>
        var courses_len = {{ courses_len }}
        var published_shown = true
        {% for course in courses %}
            $(function() {
                $('#delete_course{{ course.id }}').on('click', function(e) {
                    e.preventDefault()
                    $.getJSON('{{ url_for("delete_course", course_id=course.id) }}',function(data) {});
                    $("#course{{ course.id }}").hide();
                    $("#flash_text").text("{{ flash }}");
                    $("#flash_text_div").show();

                    if(courses_len==0)
                    {
                        $('#no_course').text("No Course Found");
                        $('#no_course').toggle();
                    }
                });
            });

            $(function() {
                $('#edit{{course.id}}').on('click', function(e) {
                    $('#edit_input_div{{course.id}}').toggle();
                    $('#course_name{{course.id}}').toggle();
                });
            });

            $(function() {
                $('#confirm{{course.id}}').on('click', function(e) {
                    var new_course_name = $('#edit_input{{course.id}}').val();
                    $.getJSON('/edit_course/{{course.id}}/'+new_course_name, function() {});
                    history.go(0);
                });
            });

            $(function() {
                $('#cancel{{course.id}}').on('click', function(e) {
                    $('#edit_input{{course.id}}').val($('#course_name{{course.id}}').text());
                    $('#edit_input_div{{course.id}}').toggle();
                    $('#course_name{{course.id}}').toggle();
                });
            });
        {% endfor %}

        function getUrlVars(){
            var vars = [], hash;
            var hashes = window.location.href.slice(window.location.href.indexOf('?') + 1).split('&');
            for(var i = 0; i < hashes.length; i++)
            {
                hash = hashes[i].split('=');
                vars.push(hash[0]);
                vars[hash[0]] = hash[1];
            }
            return vars;
        }

        $(document).ready(function(){
            vars= getUrlVars();
            var keyword = decodeURI(vars['keyword']);
            if(keyword == 'undefined'){keyword='';}
            $("#search-input").val(keyword).change();
        });
        
        $(function() {
            $('#search_button').on('click', function(e) {
                var keyword = $("#search-input").val();
                window.location = "/manage_courses?keyword="+keyword;
            });
        });
        
        $(function() {
            var availableTags = [];
            {% for course in courses %}
                p = "{{ course.name | safe }}"
                availableTags.push(p);
            {% endfor %}
            $( "#search-input" ).autocomplete({
                source: availableTags,
                open: function() {
                    $("ul.ui-menu").width( $("#search-div").innerWidth() );
                }
            });
        });
        
        $(function() {
            $("#search-input").keypress(function (event) {
                if (event.keyCode === 13) {
                    $("#search_button").click();
                }
            });
        });
    </script>
    
<div class="mx-auto w-90%">
    <div class="mt-2">
        <div id="search-div" class="w-100% md:w-50% mx-auto border-0.5 border-gradient rounded-lg text-left z-10 bg-white">
        <input type="text" name="keyword" id="search-input" class="rounded-lg form-control autocomplete border-0 inline-block w-80% text-lg text-gradient focus:text-gradient" placeholder="Search...">
            <button id="search_button" class="float-right">
                <img class="inline-block w-100% align-middle mt-9px pr-9px" src="../static/assets/arrow.svg"/>
            </button>
        </div>
    </div>

    <div id="courses">
        <h3 id="no_course" class="hidden w-100% text-center my-3 text-4xl"></h3>
            {% if courses_len != 0 %}
                {% for course in courses %}
                <hr class="mx-auto border-grayC w-100% md:w-50% my-4">
                    <div class="w-100% md:w-50% mt-2 mx-auto" id="course{{ course.id }}">
                        <div class="m-2 mx-3 grid grid-cols-2 gap-x-3 gap-y-2 md:gap-x-0 md:grid-cols-3 items-center justify-start">
                            <div class="col-span-2">
                                <p id="course_name{{course.id}}" class="inline-block px-1.5">{{ course.name }}</p>
                                <div id="edit_input_div{{course.id}}" class="hidden">
                                    <input id="edit_input{{course.id}}" class="py-1.5 px-1 inline-block float-left border-0.5 border-black py-1% rounded-lg" placeholder="Course Name" value="{{course.name}}">
                                    <button id="confirm{{course.id}}" class ="text-white bg-blue-700 hover:bg-blue-800 rounded-lg px-5 py-2 focus:outline-none ml-2">Confirm</button>
                                    <button id="cancel{{course.id}}" class ="text-white bg-blue-700 hover:bg-blue-800 rounded-lg px-5 py-2 focus:outline-none ">Cancel</button>
                                </div>
                            </div>
                            <div class="hidden md:block inline-block justify-self-end">
                                <button id="edit{{course.id}}" class="text-white bg-gray-800 hover:bg-gray-900 rounded-lg px-5 py-2.5 w-100% md:w-fit my-1 md:my-0"><img class="w-7 h-7 mx-auto" src="../static/assets/edit-icon-white.svg"></button>
                                <button class="text-white bg-red-700 hover:bg-red-800 rounded-lg px-5 py-2.5 w-100% md:w-fit my-1 md:my-0" id="delete_course{{ course.id }}"><img class="w-7 h-7 mx-auto" src="../static/assets/delete-button-white.png"></button>
                            </div>
                            <button id="edit{{course.id}}" class="text-white bg-gray-800 hover:bg-gray-900 rounded-lg px-5 py-2.5 w-100% md:w-fit my-1 md:my-0 md:hidden"><img class="w-7 h-7 mx-auto" src="../static/assets/edit-icon-white.svg"></button>
                            <button class="text-white bg-red-700 hover:bg-red-800 rounded-lg px-5 py-2.5 w-100% md:w-fit my-1 md:my-0 md:hidden" id="delete_course{{ course.id }}"><img class="w-7 h-7 mx-auto" src="../static/assets/delete-button-white.png"></button>
                        </div>
                    </div>
                {% endfor %}
                <hr class="mx-auto border-grayC w-100% md:w-50% my-4">
            {% else %}
                <h3 id="no_course" class="w-100% text-center text-4xl">No Courses Found</h3>
            {% endif %}
    </div>
</div>
{% endblock main %}