{% extends "layout.html" %}

{% block title %}
    Manage Locations
{% endblock %}

{% block main %}
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <link rel="stylesheet" href="../static/css/filter_multi_select.css" />
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script src="../static/extensions/filter-multi-select-bundle-base.min.js"></script>

    <script type=text/javascript>
        var locations_len = {{ locations_len }}
        var published_shown = true
        {% for location in locations %}
            $(function() {
                $('#delete_location{{ location[0] }}').on('click', function(e) {
                    e.preventDefault()
                    $.getJSON('{{ url_for("delete_location", location_id=location[0]) }}',function(data) {});
                    $("#location{{ location[0] }}").hide();
                    $("#flash_text").text("{{ flash }}");
                    $("#flash_text_div").show();

                    if(locations_len==0)
                    {
                        $('#no_location').text("No Location Found");
                        $('#no_location').toggle();
                    }
                });
            });
        {% endfor %}

        function getUrlVars(){
            var vars = [], hash;
            var hashes = window.location.href.slice(window.location.href.indexOf('?') + 1).split('&');
            for(var i = 0; i < hashes.length; i++)
            {
                hash = hashes[i].split('=');
                vars.push(hash[0]);
                vars[hash[0]] = hash[1];
            }
            return vars;
        }

        $(document).ready(function(){
            vars= getUrlVars();
            var keyword = decodeURI(vars['keyword']);
            if(keyword == 'undefined'){keyword='';}
            $("#search-input").val(keyword).change();
        });
        
        $(function() {
            $('#search_button').on('click', function(e) {
                var keyword = $("#search-input").val();
                window.location = "/manage_locations?keyword="+keyword;
            });
        });
        
        $(function() {
            var availableTags = [];
            {% for location in locations %}
                p = "{{ location[1] | safe }}, {{ location[2] | safe }}"
                availableTags.push(p);
            {% endfor %}
            $( "#search-input" ).autocomplete({
                source: availableTags,
                open: function() {
                    $("ul.ui-menu").width( $("#search-div").innerWidth() );
                }
            });
        });
    </script>
    
    <div class="mt-2">
        <div id="search-div" class="w-100% md:w-80% 880:w-50% mx-auto border-0.5 border-gradient rounded-lg text-left z-10 bg-white">
        <input type="text" name="keyword" id="search-input" class="form-control autocomplete border-0 inline-block w-80% text-lg text-gradient focus:text-gradient" placeholder="Search...">
            <button id="search_button" class="float-right">
                <img class="inline-block w-100% align-middle mt-9px pr-9px" src="../static/assets/arrow.svg"/>
            </button>
        </div>
    </div>

    <div id="locations">
        <h3 id="no_location" class="hidden w-100% text-center my-3 text-4xl"></h3>
            {% if locations_len != 0 %}
                {% for location in locations %}
                    <div class="w-100% md:w-50% mt-2 border-0.5 border-black rounded-md mx-auto" id="location{{ location[0] }}">
                        <div class="m-2 mx-3 text-right">
                            <p class="inline-block float-left mt-13px">{{ location[1] }}, {{ location[2] }}</p>
                            <div class="inline-block">
                                <button class="btn btn-danger w-100% xsm:w-fit my-1 xsm:my-0" id="delete_location{{ location[0] }}"><img class="w-7 h-7 mx-auto" src="../static/assets/delete-button-white.png"></button>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            {% else %}
                <h3 id="no_location" class="w-100% text-center text-4xl">No Courses Found</h3>
            {% endif %}
    </div>
{% endblock main %}