{% extends "layout.html" %}

{% block title %}
    Manage Universities
{% endblock %}

{% block main %}
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script src="../static/extensions/filter-multi-select-bundle-base.min.js"></script>
    <link rel="stylesheet" href="../static/css/filter_multi_select.css" />

    <script type=text/javascript>
        function raise_error() {
            {% for item in [form.requirements, form.scholarships, form.courses, form.location, form.min_ib_cutoff, form.max_ib_cutoff, form.min_acceptance_rate, form.max_acceptance_rate, form.min_gpa, form.max_gpa, form.min_avg_cost, form.max_avg_cost] %}
                {% if item.errors %} 
                    {% for error in item.errors %}
                        $("#flash_text").text("{{error | safe}}");
                        $("#flash_text_div").show();
                    {% endfor %}
                {% endif %}
            {% endfor %}
        }
        setInterval('raise_error()', 1);
        var p_unis_len = {{ p_unis_len }}
        var d_unis_len = {{ d_unis_len }}
        var published_shown = true
        {% for uni in draft_unis %}
            $(function() {
                $('#delete_uni{{ uni.id }}').on('click', function(e) {
                    e.preventDefault()
                    $.getJSON('{{ url_for("delete_uni", uni_id=uni.id) }}',function(data) {});
                    $("#uni{{ uni.id }}").hide();
                    $("#flash_text").text("{{ flash }}");
                    $("#flash_text_div").show();

                    d_unis_len = d_unis_len-1;
                    if(d_unis_len==0)
                    {
                        $('#no_draft_unis').text("No Draft Universities Found");
                        $('#no_draft_unis').toggle();
                    }
                });
            });
        {% endfor %}

        {% for uni in published_unis %}
            $(function() {
                $('#delete_uni{{ uni.id }}').on('click', function(e) {
                    e.preventDefault()
                    $.getJSON('{{ url_for("delete_uni", uni_id=uni.id) }}',function(data) {});
                    $("#uni{{ uni.id }}").hide();
                    $("#flash_text").text("{{ flash }}");
                    $("#flash_text_div").show();

                    p_unis_len = p_unis_len-1;
                    if(p_unis_len==0)
                    {
                        $('#no_published_unis').text("No Published Universities Found");
                        $('#no_published_unis').toggle();
                    }
                });
            });
        {% endfor %}

		$(function() {
		    $('#show_published').on('click', function(e) {
                if(!published_shown){		
                    $("#published_unis").toggle();		
                    $("#draft_unis").toggle();
                    published_shown = true;
                    $("#show_published").addClass("underline-btn-active");
                    $("#show_drafts").removeClass("underline-btn-active");
                    $("#show_published").removeClass("underline-btn");
                    $("#show_drafts").addClass("underline-btn");
                }
			});
        });

        $(function() {
			$('#show_drafts').on('click', function(e) {
                if(published_shown){		
                    $("#published_unis").toggle();		
                    $("#draft_unis").toggle();
                    published_shown = false;
                    $("#show_published").removeClass("underline-btn-active");
                    $("#show_drafts").addClass("underline-btn-active");
                    $("#show_published").addClass("underline-btn");
                    $("#show_drafts").removeClass("underline-btn");
                }
			});
        });
        
        function getUrlVars(){
            var vars = [], hash;
            var hashes = window.location.href.slice(window.location.href.indexOf('?') + 1).split('&');
            for(var i = 0; i < hashes.length; i++)
            {
                hash = hashes[i].split('=');
                vars.push(hash[0]);
                vars[hash[0]] = hash[1];
            }
            return vars;
        }

        $(document).ready(function(){
            vars= getUrlVars();
            var keyword = decodeURI(vars['keyword']);
            if(keyword == 'undefined'){keyword='';}
            $("#search-input").val(keyword).change();
            $("#draft_unis").toggle();

            // clear session storage
            sessionStorage.removeItem("Name");
            sessionStorage.removeItem("Website");
            sessionStorage.removeItem("Requirements");
            sessionStorage.removeItem("Scholarships");
            sessionStorage.removeItem("Ib_cutoff");
            sessionStorage.removeItem("Img");
            sessionStorage.removeItem("Courses");
            sessionStorage.removeItem("Locations");
        });
        
        $(function() {
            $('#search_button').on('click', function(e) {
                var keyword = $("#search-input").val();
                window.location = "/manage_unis?keyword="+keyword;
            });
        });
        
        $(function() {
            var availableTags = [];
            {% for uni in published_unis %}
                p = "{{ uni.name | safe }}"
                availableTags.push(p);
            {% endfor %}
            {% for uni in draft_unis %}
                p = "{{ uni.name | safe }}"
                availableTags.push(p);
            {% endfor %}
            $( "#search-input" ).autocomplete({
                source: availableTags,
                open: function() {
                    $("ul.ui-menu").width( $("#search-div").innerWidth() );
                }
            });
        });
        
        $(document).ready(function() {
            $(function() {
                $('#clear_filter').on('click', function(e) {
                    $('.FilterInput').val('').change();
                });
            });
        });
        
        $(function() {
            $("#search-input").keypress(function (event) {
                if (event.keyCode === 13) {
                    $("#search_button").click();
                }
            });
        });

    $(function() {
        $('#ShowFilter').on('click', function(e) {
            var ImageSrc = $('#ShowFilterImg');
            var TextSrc = $('#ShowFilterText');
            if ( ImageSrc.attr('src') == '../static/assets/dropdown-icon.svg')
                    {
                        ImageSrc.attr('src', '../static/assets/dropdown-icon-clicked.svg');
                        TextSrc.text('Hide Filters');
                    }
                    else
                    {
                        ImageSrc.attr('src', '../static/assets/dropdown-icon.svg');
                        TextSrc.text('Show Filters');
                    }
                });
            });
            $(function() {
		    $('.FilterInput').on('change', function(e) {
                var filter_id = '#applied_filters_';
                var input_id = '#FilterInput-';
                var filters = ['min_ib_cutoff', 'max_ib_cutoff', 'min_acceptance_rate', 'max_acceptance_rate', 'min_gpa', 'max_gpa', 'min_avg_cost', 'max_avg_cost','requirements','scholarships','locations','courses'];
                var filters_name = ['Minimum IBDP Score', 'Maximum IBDP Score', 'Minimum Acceptance Rate', 'Maximum Acceptance Rate', 'Minimum GPA', 'Maximum GPA', 'Minimum Average Cost', 'Maximum Average Cost','Requirements','Scholarships','Locations','Courses'];
                var text_style = 'inline-block w-fit px-3 py-1 border-black border-0.5 rounded-lg' 
                for(var i = 0; i<filters_name.length; i++)
                {
                    if ($(input_id+filters[i]).val() != "" && ($(input_id+filters[i]).val()) != null)
                    {
                        $(filter_id+filters[i]).text(filters_name[i]+': '+$(input_id+filters[i]).val());
                        $(filter_id+filters[i]).attr('class', text_style);
                    }
                    else
                    {
                        $(filter_id+filters[i]).attr('class', 'hidden '+text_style);
                    }
                }
			});
		});
    </script>
<div class="w-90% mx-auto">
<div id="dropdownHover" class="hidden w-90% md:w-50% mx-auto bg-white border-0.5 border-black rounded-lg">
    <div class="mx-auto w-90%">
        <form action='' method="POST" class="w-100% mx-auto grid grid-cols-1 md:grid-cols-2 gap-2 my-4">
            {{ form.hidden_tag() }}
            {{ form.min_ib_cutoff(id="FilterInput-min_ib_cutoff", class="FilterInput text-base w-100% border-0.5 border-black text-center rounded-lg", placeholder='Minimum IBDP Score') }}
            {{ form.max_ib_cutoff(id="FilterInput-max_ib_cutoff", class="FilterInput text-base w-100% border-0.5 border-black text-center rounded-lg", placeholder='Maximum IBDP Score') }}
            {{ form.min_acceptance_rate(id="FilterInput-min_acceptance_rate", class="FilterInput text-base w-100% border-0.5 border-black text-center rounded-lg", placeholder='Minimum Acceptance Rate') }} 
            {{ form.max_acceptance_rate(id="FilterInput-max_acceptance_rate", class="FilterInput text-base w-100% border-0.5 border-black text-center rounded-lg", placeholder='Maximum Acceptance Rate') }}
            {{ form.min_gpa(id="FilterInput-min_gpa", class="FilterInput text-base w-100% border-0.5 border-black text-center rounded-lg", placeholder='Minimum GPA') }} 
            {{ form.max_gpa(id="FilterInput-max_gpa", class="FilterInput text-base w-100% border-0.5 border-black text-center rounded-lg", placeholder='Maximum GPA') }}
            {{ form.min_avg_cost(id="FilterInput-min_avg_cost", class="FilterInput text-base w-100% border-0.5 border-black text-center rounded-lg", placeholder='Minimum Average Cost') }} 
            {{ form.max_avg_cost(id="FilterInput-max_avg_cost", class="FilterInput text-base w-100% border-0.5 border-black text-center rounded-lg", placeholder='Maximum Average Cost') }}
    
            {{ form.requirements(id="FilterInput-requirements", class="FilterInput text-base w-100% border-0.5 border-black text-center rounded-lg", placeholder='Requirements for admission') }} 
            {{ form.scholarships(id="FilterInput-scholarships", class="FilterInput text-base w-100% border-0.5 border-black text-center rounded-lg", placeholder='Scholarships') }}
            
            {{ form.location(id="FilterInput-locations", class="FilterInput text-base w-100% border-0.5 border-black text-center rounded-lg", placeholder='Locations') }}
            {{ form.courses(id="FilterInput-courses", class="FilterInput text-base w-100% border-0.5 border-black text-center rounded-lg", placeholder='Courses') }}

            <div class="flex place-self-center">
                <label class="switch m-0 flex-none">
                    {{ form.coisstudents(class="form-check-input", type="checkbox") }}
                    <span class="slider round"></span>
                </label>
                <p class="flex-initial relative text-base md:text-lg ml-2">COIS students applied</p>
            </div>

            {{ form.submit(class="w-100% md:w-50% md:mx-25% mt-2% mb-5% text-white bg-blue-700 hover:bg-blue-800 rounded-lg px-5 py-2.5 focus:outline-none text-xl") }}
            {{ form.clear(id="clear_filter", class="w-100% md:w-50% md:mx-25% mt-2% mb-5% text-white bg-blue-700 hover:bg-blue-800 rounded-lg px-5 py-2.5 focus:outline-none text-xl") }}
        </form>
    </div>
</div>

    <div class="mt-5 mb-3">
        <button class="underline-btn-active text-2xl ml-0" id="show_published">Published</button>
        <button class="underline-btn text-2xl ml-8 960:ml-14" id="show_drafts">Drafts</button>
        <hr class="mx-auto border-black mb-3" id="manage-unis-hr"><div class="w-100% text-center items-center mb-3 mt-5" data-dropdown-toggle="dropdownHover" data-dropdown-trigger="click"  id="ShowFilter">
    </div> 
    
    <div class="w-100% text-center items-center mt-5" data-dropdown-toggle="dropdownHover" data-dropdown-trigger="click"  id="ShowFilter">
        <p class="inline-block" id="ShowFilterText">Show Filters</p>
        <img class="inline-block mb-1 w-4 h-4" id="ShowFilterImg" src="../static/assets/dropdown-icon.svg">
    </div>
    
    <div class="mt-2">
        <div class="w-100% md:w-50% mx-auto mb-2">
            <div class="w-fit mx-auto">
                <p id='applied_filters_min_ib_cutoff'></p>
                 <p id='applied_filters_max_ib_cutoff'></p>
                 <p id='applied_filters_min_acceptance_rate'></p>
                 <p id='applied_filters_max_acceptance_rate'></p>
                 <p id='applied_filters_min_gpa'></p>
                 <p id='applied_filters_max_gpa'></p>
                 <p id='applied_filters_min_avg_cost'></p>
                 <p id='applied_filters_max_avg_cost'></p>
                <p id='applied_filters_requirements'></p>
                <p id='applied_filters_scholarships'></p>
                <p id='applied_filters_locations'></p>
                <p id='applied_filters_courses'></p>
            </div>
        </div>
        <div id="search-div" class="w-100% md:w-50% mx-auto border-0.5 border-gradient rounded-lg text-left z-10 bg-white">
        <input type="text" name="keyword" id="search-input" class="rounded-lg form-control autocomplete border-0 inline-block w-80% text-lg text-gradient focus:text-gradient" placeholder="Search...">
            <button id="search_button" class="float-right">
                <img class="inline-block w-100% align-middle mt-9px pr-9px" src="../static/assets/arrow.svg"/>
            </button>
        </div>
    </div>

    <div id="published_unis">
        <h3 id="no_published_unis" class="hidden w-100% text-center my-3 text-4xl"></h3>
            {% if p_unis_len != 0 %}    
                {% for uni,i in zip(published_unis, range(p_unis_len)) %}
                <hr class="border-grayC w-100% my-4">
                <a href="/uni/{{uni.name}}">
                <div class="hidden md:block w-90% mx-auto">
                    <div class="m-3 sm:flex items-center justify-items-center">
                        <img class="mr-4 w-40 " src="../static/university_logos/{{ uni.logo }}">
                        <div class="">
                            <p class="text-blueC text-3xl font-bold">{{ uni.name }}</p>
                            <p class="text-grayC text-xl">{{ uni.location.exact_location }}</p>
                            <table class="mt-3">
                                <tbody>
                                    <tr>
                                        <td class="text-lg w-96"><p class="inline font-bold">{{ uni.acceptance_rate }}%</p> Acceptance rate</td>
                                        <td class="text-lg w-96"><p class="inline font-bold">{{ no_app[i] + no_add[i] }}</p> Students applied from COIS</td>
                                    </tr>
                                    <tr>
                                        <td class="text-lg pt-2 w-96"><p class="inline font-bold">{{ uni.min_gpa }}</p> GPA</td>
                                        <td class="text-lg pt-2 w-96"><p class="inline font-bold">{{ uni.avg_cost }}</p> Avg. Cost</td>
                                    </tr>
                                </tbody>
                            </table>
                            <div class="mt-3">
                                <a class="justify-self-center w-100% text-right" href="{{ url_for('edit_uni', uni_name=uni.name) }}">
                                    <button class="text-white bg-gray-800 hover:bg-gray-900 rounded-lg px-5 py-2.5 w-100% md:w-fit mx-auto"><img class="w-7 h-7 mx-auto" src="../static/assets/edit-icon-white.svg"></button>
                                </a>
                                <button class="text-white bg-red-700 hover:bg-red-800 rounded-lg px-5 py-2.5 w-100% md:w-fit justify-self-left mt-2 md:mt-0" id="delete_uni{{ uni.id }}"><img class="w-7 h-7 mx-auto" src="../static/assets/delete-button-white.png"></button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="block md:hidden text-center">
                    <img class="w-40 mx-auto" src="../static/university_logos/{{ uni.logo }}">
                    <div class="">
                        <p class="text-blueC text-3xl font-bold">{{ uni.name }}</p>
                        <p class="text-grayC text-xl">{{ uni.location.exact_location }}</p>
                        <div class="grid grid-cols-1 gap-y-1 md:hidden mt-3">
                            <p class=""><b>{{ uni.acceptance_rate }}%</b> Acceptance rate</p>
                            <p class=""><b>{{ no_app[i] + no_add[i] }}</b> Students applied from COIS</p>
                            <p class=""><b>{{ uni.min_gpa }}</b> GPA</p>
                            <p class=""><b>{{ uni.avg_cost }}</b> Avg. Cost</p>
                        </div>
                    </div>
                    <div class="md:ml-28 mt-3">
                        <a class="justify-self-center w-100% text-right" href="{{ url_for('edit_uni', uni_name=uni.name) }}">
                            <button class="text-white bg-gray-800 hover:bg-gray-900 rounded-lg px-5 py-2.5 w-100% md:w-fit mx-auto"><img class="w-7 h-7 mx-auto" src="../static/assets/edit-icon-white.svg"></button>
                        </a>
                        <button class="text-white bg-red-700 hover:bg-red-800 rounded-lg px-5 py-2.5 w-100% md:w-fit justify-self-left mt-2 md:mt-0" id="delete_uni{{ uni.id }}"><img class="w-7 h-7 mx-auto" src="../static/assets/delete-button-white.png"></button>
                    </div>
                </div>
                </a>
                {% endfor %}
            {% else %}
                    <h3 id="no_published_unis" class="w-100% text-center text-4xl">No Published Universities Found</h3>
        {% endif %}
   <div class="pagination mx-auto my-10">
    <ul class="flex items-center mx-auto justify-center -space-x-px h-8 text-sm md:text-base">
        {% if published_unis_query.has_prev %}
        <li>
            <a href="{{ url_for('manage_unis', page=published_unis_query.prev_num, keyword=keyword) }}"
               class="flex items-center justify-center px-5 h-10 ms-0 leading-tight text-gray-500 bg-white border border-e-0 border-gray-300 rounded-s-lg hover:bg-gray-100 hover:text-gray-700 dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white">
                <span class="sr-only">Previous</span>
                <svg class="w-2.5 h-2.5 rtl:rotate-180" aria-hidden="true" xmlns="http://www.w3.org/2000/svg"
                     fill="none" viewBox="0 0 6 10">
                    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                          d="M5 1 1 5l4 4"/>
                </svg>
            </a>
        </li>
        {% else %}
        <li>
            <a class="flex items-center justify-center px-5 h-10 ms-0 leading-tight text-gray-500 bg-white border border-e-0 border-gray-300 rounded-s-lg">
                <svg class="w-2.5 h-2.5 rtl:rotate-180" aria-hidden="true" xmlns="http://www.w3.org/2000/svg"
                     fill="none" viewBox="0 0 6 10">
                    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                          d="M5 1 1 5l4 4"/>
                </svg>
            </a>
        </li>
        {% endif %}

        {% for page_num in published_unis_query.iter_pages(left_edge=1, right_edge=1) %}
        {% if page_num %}
        {% if page_num == published_unis_query.page %}
        <li>
            <a class="z-10 flex items-center justify-center px-5 h-10 leading-tight text-blue-600 border border-blue-300 bg-blue-50 hover:bg-blue-100 hover:text-blue-700 dark:border-gray-700 dark:bg-gray-700 dark:text-white">{{ page_num }}</a>
        </li>
        {% else %}
        <li>
            <a href="{{ url_for('manage_unis', page=page_num, keyword=keyword) }}"
               class="flex items-center justify-center px-5 h-10 leading-tight text-gray-500 bg-white border border-gray-300 hover:bg-gray-100 hover:text-gray-700 dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white">{{ page_num }}</a>
        </li>
        {% endif %}
    {% else %}
    <li>
        <a class="flex items-center justify-center px-5 h-10 leading-tight text-gray-500 bg-white border border-gray-300">...</a>
    </li>
    {% endif %}
        {% endfor %}

        {% if published_unis_query.has_next %}
        <li>
            <a href="{{ url_for('manage_unis', page=published_unis_query.next_num, keyword=keyword) }}"
               class="flex items-center justify-center px-5 h-10 leading-tight text-gray-500 bg-white border border-gray-300 rounded-e-lg hover:bg-gray-100 hover:text-gray-700 dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white">
                <span class="sr-only">Next</span>
                <svg class="w-2.5 h-2.5 rtl:rotate-180" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none"
                     viewBox="0 0 6 10">
                    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                          d="m1 9 4-4-4-4"/>
                </svg>
            </a>
        </li>
        {% else %}
        <li>
            <a class="flex items-center justify-center px-5 h-10 leading-tight text-gray-500 bg-white border border-gray-300 rounded-e-lg">
                <svg class="w-2.5 h-2.5 rtl:rotate-180" aria-hidden="true" xmlns="http://www.w3.org/2000/svg"
                     fill="none" viewBox="0 0 6 10">
                    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                          d="m1 9 4-4-4-4"/>
                </svg>
            </a>
        </li>
        {% endif %}
    </ul>
</div>
    </div>
        
    <div id="draft_unis">
        <h3 id="no_draft_unis" class="hidden w-100% text-center my-3 text-4xl"></h3>
            {% if p_unis_len != 0 %}    
                {% for uni,i in zip(draft_unis, range(p_unis_len)) %}
                <hr class="border-grayC w-100% my-4">
                <a href="/uni/{{uni.name}}">
                <div class="hidden md:block w-90% mx-auto">
                    <div class="m-3 sm:flex items-center justify-items-center">
                        <img class="mr-4 w-40 " src="../static/university_logos/{{ uni.logo }}">
                        <div class="">
                            <p class="text-blueC text-3xl font-bold">{{ uni.name }}</p>
                            <p class="text-grayC text-xl">{{ uni.location.exact_location }}</p>
                            <table class="mt-3">
                                <tbody>
                                    <tr>
                                        <td class="text-lg w-96"><p class="inline font-bold">{{ uni.acceptance_rate }}%</p> Acceptance rate</td>
                                        <td class="text-lg w-96"><p class="inline font-bold">{{ no_app[i] + no_add[i] }}</p> Students applied from COIS</td>
                                    </tr>
                                    <tr>
                                        <td class="text-lg pt-2 w-96"><p class="inline font-bold">{{ uni.min_gpa }}</p> GPA</td>
                                        <td class="text-lg pt-2 w-96"><p class="inline font-bold">{{ uni.avg_cost }}</p> Avg. Cost</td>
                                    </tr>
                                </tbody>
                            </table>
                            <div class="mt-3">
                                <a class="justify-self-center w-100% text-right" href="{{ url_for('edit_uni', uni_name=uni.name) }}">
                                    <button class="text-white bg-gray-800 hover:bg-gray-900 rounded-lg px-5 py-2.5 w-100% md:w-fit mx-auto"><img class="w-7 h-7 mx-auto" src="../static/assets/edit-icon-white.svg"></button>
                                </a>
                                <button class="text-white bg-red-700 hover:bg-red-800 rounded-lg px-5 py-2.5 w-100% md:w-fit justify-self-left mt-2 md:mt-0" id="delete_uni{{ uni.id }}"><img class="w-7 h-7 mx-auto" src="../static/assets/delete-button-white.png"></button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="block md:hidden text-center">
                    <img class="w-40 mx-auto" src="../static/university_logos/{{ uni.logo }}">
                    <div class="">
                        <p class="text-blueC text-3xl font-bold">{{ uni.name }}</p>
                        <p class="text-grayC text-xl">{{ uni.location.exact_location }}</p>
                        <div class="grid grid-cols-1 gap-y-1 md:hidden mt-3">
                            <p class=""><b>{{ uni.acceptance_rate }}%</b> Acceptance rate</p>
                            <p class=""><b>{{ no_app[i] + no_add[i] }}</b> Students applied from COIS</p>
                            <p class=""><b>{{ uni.min_gpa }}</b> GPA</p>
                            <p class=""><b>{{ uni.avg_cost }}</b> Avg. Cost</p>
                        </div>
                    </div>
                    <div class="md:ml-28 mt-3">
                        <a class="justify-self-center w-100% text-right" href="{{ url_for('edit_uni', uni_name=uni.name) }}">
                            <button class="text-white bg-gray-800 hover:bg-gray-900 rounded-lg px-5 py-2.5 w-100% md:w-fit mx-auto"><img class="w-7 h-7 mx-auto" src="../static/assets/edit-icon-white.svg"></button>
                        </a>
                        <button class="text-white bg-red-700 hover:bg-red-800 rounded-lg px-5 py-2.5 w-100% md:w-fit justify-self-left mt-2 md:mt-0" id="delete_uni{{ uni.id }}"><img class="w-7 h-7 mx-auto" src="../static/assets/delete-button-white.png"></button>
                    </div>
                </div>
                </a>
                {% endfor %}
            {% else %}
                    <h3 id="no_draft_unis" class="w-100% text-center text-4xl">No Draft Universities Found</h3>
        {% endif %}
        <div class="pagination mx-auto my-10">
            <ul class="flex items-center mx-auto justify-center -space-x-px h-8 text-sm md:text-base">
                {% if draft_unis_query.has_prev %}
                <li>
                    <a href="{{ url_for('manage_unis', page=draft_unis_query.prev_num, keyword=keyword) }}"
                       class="flex items-center justify-center px-5 h-10 ms-0 leading-tight text-gray-500 bg-white border border-e-0 border-gray-300 rounded-s-lg hover:bg-gray-100 hover:text-gray-700 dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white">
                        <span class="sr-only">Previous</span>
                        <svg class="w-2.5 h-2.5 rtl:rotate-180" aria-hidden="true" xmlns="http://www.w3.org/2000/svg"
                             fill="none" viewBox="0 0 6 10">
                            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                  d="M5 1 1 5l4 4"/>
                        </svg>
                    </a>
                </li>
                {% else %}
                <li>
                    <a class="flex items-center justify-center px-5 h-10 ms-0 leading-tight text-gray-500 bg-white border border-e-0 border-gray-300 rounded-s-lg">
                        <svg class="w-2.5 h-2.5 rtl:rotate-180" aria-hidden="true" xmlns="http://www.w3.org/2000/svg"
                             fill="none" viewBox="0 0 6 10">
                            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                  d="M5 1 1 5l4 4"/>
                        </svg>
                    </a>
                </li>
                {% endif %}
        
                {% for page_num in draft_unis_query.iter_pages(left_edge=1, right_edge=1) %}
                {% if page_num %}
                {% if page_num == draft_unis_query.page %}
                <li>
                    <a class="z-10 flex items-center justify-center px-5 h-10 leading-tight text-blue-600 border border-blue-300 bg-blue-50 hover:bg-blue-100 hover:text-blue-700 dark:border-gray-700 dark:bg-gray-700 dark:text-white">{{ page_num }}</a>
                </li>
                {% else %}
                <li>
                    <a href="{{ url_for('manage_unis', page=page_num, keyword=keyword) }}"
                       class="flex items-center justify-center px-5 h-10 leading-tight text-gray-500 bg-white border border-gray-300 hover:bg-gray-100 hover:text-gray-700 dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white">{{ page_num }}</a>
                </li>
                {% endif %}
            {% else %}
            <li>
                <a class="flex items-center justify-center px-5 h-10 leading-tight text-gray-500 bg-white border border-gray-300">...</a>
            </li>
            {% endif %}
                {% endfor %}
        
                {% if draft_unis_query.has_next %}
                <li>
                    <a href="{{ url_for('manage_unis', page=draft_unis_query.next_num, keyword=keyword) }}"
                       class="flex items-center justify-center px-5 h-10 leading-tight text-gray-500 bg-white border border-gray-300 rounded-e-lg hover:bg-gray-100 hover:text-gray-700 dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white">
                        <span class="sr-only">Next</span>
                        <svg class="w-2.5 h-2.5 rtl:rotate-180" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none"
                             viewBox="0 0 6 10">
                            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                  d="m1 9 4-4-4-4"/>
                        </svg>
                    </a>
                </li>
                {% else %}
                <li>
                    <a class="flex items-center justify-center px-5 h-10 leading-tight text-gray-500 bg-white border border-gray-300 rounded-e-lg">
                        <svg class="w-2.5 h-2.5 rtl:rotate-180" aria-hidden="true" xmlns="http://www.w3.org/2000/svg"
                             fill="none" viewBox="0 0 6 10">
                            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                  d="m1 9 4-4-4-4"/>
                        </svg>
                    </a>
                </li>
                {% endif %}
            </ul>
        </div>
    </div>
</div>

    <!-- add new uni button -->
    <div class="z-30 fixed bottom-5 right-5% bg-blue-600 w-15 h-15 rounded-2xl">
        <a href="/add_uni">
            <img src="../static/assets/new_uni_button.svg">
		</a>
    </div>
{% endblock main %}