{% extends "layout.html" %}

{% block title %}
    {{ student.username }}
{% endblock %}

{% block main %}
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    
    <div class="w-90% mx-auto border-solid border-black rounded-md my-5% items-center border-0.5">
        <div class="m-3">
            <img src="../static/profile_pics/{{ student.pfp }}">
            <p class="text-2xl">{{ student.fullname }}</p>
            <p class="mt-2">Username: {{ student.username }}</p>
            <p>Email: {{ student.email }}</p>
            <p>Joined at: {{ student.added_at.strftime("%d %B %Y") }}</p>
            <p>Phone number: {{ student.phone_number }}</p>
            {% if student_details.graduation_year%}
                <p>Graduation year: {{ student_details.graduation_year }}</p>
            {%endif%}
            {% if student_details.myp_score %}
                <p>myp score: {{ student_details.myp_score }}</p>
            {% endif %}
            {% if student_details.dp_predicted %}
                <p>dp predicted: {{ student_details.dp_predicted }}</p>
            {% endif %}
            {% if student_details.dp_score %}
                <p>dp score: {{ student_details.dp_score }}</p>
            {% endif %}
            {% if student_details.has_diploma %}
                <p>Opted for Diploma: Yes </p>
            {%else%}
                <p>Opted for Diploma: No</p>
            {% endif %}
            {% if student_details.portfolio %}
                <p>Portfolio: {{ student_details.portfolio }}</p>
            {% endif %}


            {% if student_details.selected_app_id %}
                <p class="text-lg mt-2">Further Studies</p>
                <hr class="my-1 p-0 border-gradient" />
                {% for app in applications %}
                    {% if student_details.selected_app_id == app.id %}
                        <p>University: {{ app.uni }}</p>
                        <p>Course: {{ app.course }}</p>
                        <p>Location: {{ app.location.exact_location }}</p>
                        
                        <p>Minors: 
                        {% for minor in app.minors %}
                        {{ minor.name }}, 
                        {% endfor %}</p>

                        {% if app.scholarship %}
                        <p>Scholarship: {{ app.scholarship }}</p>
                        {% endif %}
                        {% if app.other_details %}
                        <p>Other details: {{ app.other_details }}</p>
                        {% endif %}
                        {% if app.is_early %}
                        <p><b>Early application</b></p>
                        {% endif %}
                        {% if student.username == current_user.username %}
                            <a class="" href="{{ url_for('edit_application', application_id = app.id) }}">
                                <button class="mt-2 btn btn-dark w-100% md:w-fit mx-auto"><img class="w-7 h-7 mx-auto" src="../static/assets/edit-icon-white.svg"></button>
                            </a>
                            
                            <a class="" href="{{ url_for('delete_application', application_id = app.id) }}">
                                <button class="mt-2 btn btn-danger w-100% md:w-fit mx-auto"><img class="w-7 h-7 mx-auto" src="../static/assets/delete-button-white.png"></button>
                            </a>
                        {% endif %}
                        <hr class="my-1 mx-auto p-0 border-gradient" />
                    {% endif %}
                {% endfor %}
                
                {% if len(applications)-1 > 0 %}
                    <p class="text-lg mt-2">Other Applications</p>
                    <hr class="my-1 mx-auto p-0 border-gradient" />
                    {% for app in applications %}
                        {% if student_details.selected_app_id != app.id %}
                            <p>University: {{ app.uni }}</p>
                            <p>Course: {{ app.course }}</p>
                            <p>Location: {{ app.location.exact_location }}</p>
                            
                            <p>Minors: 
                            {% for minor in app.minors %}
                            {{ minor.name }}, 
                            {% endfor %}</p>
                            <p>{{app.status}}</p>
                            {% if app.scholarship %}
                            <p>Scholarship: {{ app.scholarship }}</p>
                            {% endif %}
                            {% if app.other_details %}
                            <p>Other details: {{ app.other_details }}</p>
                            {% endif %}
                            {% if app.is_early %}
                            <p><b>Early application</b></p>
                            {% endif %}
                            {% if student.username == current_user.username %}
                                <a class="" href="{{ url_for('edit_application', application_id = app.id) }}">
                                    <button class="mt-2 btn btn-dark w-100% md:w-fit mx-auto"><img class="w-7 h-7 mx-auto" src="../static/assets/edit-icon-white.svg"></button>
                                </a>

                                <a class="" href="{{ url_for('delete_application', application_id = app.id) }}">
                                    <button class="mt-2 btn btn-danger w-100% md:w-fit mx-auto"><img class="w-7 h-7 mx-auto" src="../static/assets/delete-button-white.png"></button>
                                </a>
                            {% endif %}
                            <hr class="my-1 mx-auto p-0 border-gradient" />
                        {% endif %}
                    {% endfor %}
                {% endif %}
            {% else %}
                {% if len(applications) > 0 %}
                    <p class="text-lg mt-2">Applications</p>
                    {% for app in applications %}
                        <hr class="my-1 mx-auto p-0 border-gradient" />
                        {% if student_details.selected_app_id != app.id %}
                            <p>University: {{ app.uni }}</p>
                            <p>Course: {{ app.course }}</p>
                            <p>Location: {{ app.location.exact_location }}</p>
                            
                            <p>Minors: 
                                {% for minor in app.minors %}
                                {{ minor.name }}, 
                            {% endfor %}</p>
                            <p>Status: {{app.status}}</p>
                            {% if app.scholarship %}
                                <p>Scholarship: {{ app.scholarship }}</p>
                            {% endif %}
                            {% if app.other_details %}
                                <p>Other details: {{ app.other_details }}</p>
                            {% endif %}
                            {% if app.is_early %}
                                <p><b>Early application</b></p>
                            {% endif %}
                            {% if student.username == current_user.username %}
                                <a class="" href="{{ url_for('edit_application', application_id = app.id) }}">
                                    <button class="mt-2 btn btn-dark w-100% md:w-fit mx-auto"><img class="w-7 h-7 mx-auto" src="../static/assets/edit-icon-white.svg"></button>
                                </a>
                                
                                <a class="" href="{{ url_for('delete_application', application_id = app.id) }}">
                                    <button class="mt-2 btn btn-danger w-100% md:w-fit mx-auto"><img class="w-7 h-7 mx-auto" src="../static/assets/delete-button-white.png"></button>
                                </a>
                            {% endif %}
                        {% endif %}    
                        <hr class="my-1 mx-auto p-0 border-gradient" />
                    {% endfor %}
                {% endif %}
            {% endif %}

            {% if student.username == current_user.username %}
                <a class="" href="{{ url_for('add_application', student_id=student.id) }}">
                    <button class="mt-2 btn btn-primary w-100% md:w-fit mx-auto">Add Application Details</button>
                </a>
                <a class="" href="{{ url_for('edit_student', student_id=student.id) }}">
                    <button class="mt-2 btn btn-primary w-100% md:w-fit mx-auto">Edit Profile</button>
                </a>
            {% endif %}
        </div>
    </div>

{% endblock main %}